* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.1);
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
.brand {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.navigation {
  position: relative;
}
header .navigation a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.5s ease;
}
header .navigation a:hover {
  color: crimson;
}
section {
  padding: 100px;
}
.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(./images/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.content {
  max-width: 800px;
}

.main .content h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
}
.main .content h2 span {
  font-size: 60px;
  font-weight: 600;
}

.animated-text {
  height: 70px;
  overflow: hidden;
  position: relative;
}

.animated-text h3 {
  color: crimson;
  font-size: 40px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 1px;
}
.animated-text h3:nth-child(1) {
  animation: text-move 10s infinite;
}
@keyframes text-move {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: -70px;
  }
  50% {
    margin-top: -140px;
  }
  75% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0;
  }
}
.btn {
  color: #fff;
  background-color: crimson;
  font-size: 17px;
  font-weight: 700px;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 3px;
  margin-top: 30px;
  transition: 0.5s ease;
}
.btn:hover {
  background-color: #fff;
  color: black;
}
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-title {
  position: relative;
  color: crimson;
  font-size: 38px;
  font-weight: bolder;
  margin-bottom: 60px;
}
.section-title::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 50%;
  width: 140px;
  height: 4px;
  background: crimson;
  transform: translateX(-50%);
}

.section-title::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: crimson;
  transform: translateX(-50%);
}
